body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    text-align: 1.5;
}

#background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#div1 {
    background:#eeeeee;
    width: 70%;
    z-index: 1;
    margin: 12% auto;
    overflow: auto;
}

span {
    color: white;
    padding-top: 12px;
    cursor: pointer;
    padding-right: 15px;
}

#div2 {
    background:#eeeeee;
    align-items: left;
    padding-left: 500px;
    margin: auto;
    height: 400px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

#close {
    padding: 5px;
    background: dimgrey;
}

#close-button {
    float: right;
    font-size: 30px;
}

#foot {
    padding: 5px 0;
    text-align: center;
    background: #eeeeee;
}

h2 {
    margin: 10px 0;
    color: white;
    padding-left: 15px;
}

h3 {
    margin: 0 0px;
    padding-top: 15px;
}