<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dialog.css}">
</head>
<body>
<button type="button" style="margin-left: 40px;margin-bottom: 10px" onclick="add()">添加文章</button>
<table width="1500">
    <thead>
    <tr>
        <th>文章标题</th>
        <th>文章描述</th>
        <th>点赞数</th>
        <th>评论数</th>
        <th>浏览量</th>
        <th>文章大图</th>
        <th>文章链接</th>
        <th>贡献者</th>
        <th>时间</th>
    </tr>
    </thead>
    <tbody align="center" th:remove="all-but-first">
    <tr th:each="article : ${articleList}">
        <td width="200px" th:text="${article.title}"></td>
        <td style="width: 300px;height: 80px;overflow: auto;" th:text="${article.des}"></td>
        <td th:text="${article.stars}"></td>
        <td th:text="${article.comments}"></td>
        <td th:text="${article.views}"></td>
        <td><img width="100px" height="60px" th:src="${article.img_url}"/></td>
        <!--<td><p style="width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" th:text="${article.link}"></p></td>-->
        <td><a th:href="${article.link}">查看文章详情</a></td>
        <td th:text="${article.contributor}"></td>
        <!--<td th:text="${file.date}">2018-06-15</td>-->
        <td th:text="${#dates.format(article.date, 'yyyy-MM-dd HH:mm:ss')}">2018-06-15 23:23:23</td>

        <td>
            <button type="button" th:id="${article.article_id}" id="edit" onclick="edit(this)">编辑</button>
        </td>

        <td>
            <button type="button" th:id="${article.article_id}" id="delete" onclick="del(this)">删除</button>
        </td>

    </tr>
    </tbody>
</table>

<!-- 弹窗内容开始 -->
<div id="background" class="back">
    <div id="div1" class="content">
        <div id="close">
            <span id="close-button">×</span>
            <h2>文章编辑</h2>
        </div>
        <div id="div2">
            <form method="POST" id="form_article" action="/geekdaily/updateArticle" enctype="multipart/form-data" accept-charset="UTF-8">
                <p><input type="hidden" id="article_id" name="article_id"/></p>
                <p>标题:<input type="text" id="title" name="title" placeholder="如：概念ARVOW智能手机"/></p>
                <p>描述:<input style="width: 30%;" type="text" id="des" name="des" placeholder="如：手机重回翻盖时代？我看没这么简单，这翻开的不是手机，是笔记本！"/></p>
                <p>标签:<input type="text" id="tag" name="tag" placeholder="如：手机"/></p>
                <p>贡献者:<input type="text" id="contributor" name="contributor" placeholder="如：老蔡"/></p>
                <p>贡献者ID:<input type="text" id="contributor_id" name="contributor_id" placeholder="如：8"/></p>
                <p>文章链接:<input type="text" style="width: 30%;" id="link" name="link" placeholder="如：http://***.html"/></p>
                <p>MD文本:<br><textarea style="width: 500px;height: 100px" id="md_content" name="md_content"></textarea></p>
                <p>图片:<input type="file" id="article_img" name="article_img"/></p>
            <p><input type="submit" value="提交更新"/></p>
            </form>

            <!--<form action="/updateArticle" th:object="${article}" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">-->
                <!--<p>标题:<input type="hidden" id="article_id" name="article_id" th:field="*{article_id}"/></p>-->
                <!--<p>标题:<input type="text" id="title" name="title" th:field="*{title}"/></p>-->
                <!--<p>描述:<input style="width: 30%;" type="text" id="des" name="des" th:field="*{des}"/></p>-->
                <!--<p>标签:<input type="text" id="tag" name="tag" th:field="*{tag}"/></p>-->
                <!--<p>文章链接:<input type="text" style="width: 30%;" id="link" name="link" th:field="*{link}"/></p>-->
                <!--<p>图片:<input type="text" style="width: 30%;" id="img_url" name="img_url" th:field="*{img_url}"/></p>-->
                <!--<p><input type="submit" value="提交更新"/></p>-->
            <!--</form>-->

            <!--<p>标题:<input type="text" id="title" name="title" placeholder="如：概念ARVOW智能手机"/></p>-->
            <!--<p>描述:<input style="width: 30%;" type="text" id="des" name="des" placeholder="如：手机重回翻盖时代？我看没这么简单，这翻开的不是手机，是笔记本！"/></p>-->
            <!--<p>标签:<input type="text" id="tag" name="tag" placeholder="如：手机"/></p>-->
            <!--<p>贡献者:<input type="text" id="contributor" name="contributor" placeholder="如：老蔡"/></p>-->
            <!--<p>贡献者ID:<input type="text" id="contributor_id" name="contributor_id" placeholder="如：8"/></p>-->
            <!--<p>文章链接:<input type="text" style="width: 30%;" id="link" name="link" placeholder="如：http://***.html"/></p>-->
            <!--<p>图片:<input type="text" style="width: 30%;" id="img_url" name="img_url" placeholder="如：http://***.png"/></p>-->
            <!--<p><input type="submit" value="Upload"/></p>-->
        </div>
        <!--<h3 id="foot">502工作室</h3>-->
    </div>
</div>
<!-- 弹窗内容结束 -->

<script>
    var div = document.getElementById('background');
    var close = document.getElementById('close-button');
    close.onclick = function close() {
        div.style.display = "none";
    }
    window.onclick = function close(e) {
        if (e.target == div) {
            div.style.display = "none";
        }
    }
    //提交更新
    function update() {
        var article_id = document.getElementById('article_id').value;
        var title = document.getElementById('title').value;
        var des = document.getElementById('des').value;
        var tag = document.getElementById('tag').value;
        var link = document.getElementById('link').value;
        var file = document.getElementById('article_img').files[0];
        $.ajax({
            type: "POST",
            url: "/geekdaily/updateArticle",
            data: {"article_id":article_id,"title":title,"des":des,"tag":tag,"link":link,"article_img":file},
            success: function(data){
                //前端调用成功后，可以处理后端传回的json格式数据。
                if(data.code == 0){
                    console.log("成功："+data.msg);
                    //跳转到主页
                    window.location.href = "/geekdaily/index";
                }else {
                    window.alert(data.msg);
                }
            },
            error:function (data) {
                window.alert(data.msg);
            }
        })
    }
    //编辑
    function edit(obj) {
        var article_id = $(obj).attr("id");
        $("#article_id").val(article_id);
        // $("#title").val(article);
        div.style.display = "block";
    }

    //添加文章
    function add() {
        window.location.href = "/geekdaily/upload_article";
    }

    //删除
    function del(obj) {
        var article_id = $(obj).attr("id");
        window.location.href = "/geekdaily/deleteArticle?article_id="+article_id;
    }
</script>
</body>
</html>