<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比赛预测</title>
</head>
<body>
<form action="/geekdaily/uploadGame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"
      onsubmit="return toVaild()">
    <p>个人昵称:<input type="text" id="user_info" name="user_info" placeholder="如：117-8"/></p>
    <p>比赛信息:<input type="text" id="game_info" name="game_info" placeholder="如：葡萄牙-巴西"/></p>
    <p>比分:<input type="text" id="game_score" name="game_score" placeholder="如：3：0"/></p>
    <p><input type="submit" value="Upload"/></p>
    <!--<p><input type="button" value="查看预测结果" onclick="getList()"/></p>-->
</form>

</body>

<script language="javascript">
    var teams=["俄罗斯","沙特","埃及","乌拉圭","葡萄牙","西班牙","摩洛哥","伊朗","法国","澳大利亚","秘鲁","丹麦","阿根廷","冰岛","克罗地亚",
        "尼日利亚","巴西","瑞士","哥斯达黎加","塞尔维亚","德国","墨西哥","瑞典","韩国","比利时","巴拿马","突尼斯","英格兰","波兰","塞内加尔","哥伦比亚","日本"];
    function toVaild() {
        var user_info = document.getElementById("user_info").value;
        var game_info = document.getElementById("game_info").value;
        var game_score = document.getElementById("game_score").value;
        if ((user_info.indexOf("117-") == -1 )) {
            alert("个人昵称中请输入如：117-8");
            return false;
        }
        if(!isTeam(game_info)){
            alert("比赛信息中请输入属于本届世界杯球队的球队，如下："+"\n"+allTeams(teams))
            return false;
        }
        if(game_score == ""){
            alert("比分中请输入如：3：0");
            return false;
        }
        if(isSubmit()){
            return true;
        }
        return false;

    }

    function isTeam(game_info) {
        for (var i = 0; i < teams.length; i++){
            if(game_info.indexOf(teams[i]) != -1){
                return true;
            }
        }
        return false;
    }
    function allTeams(obj){
        var teams = "";
        for(var i in obj){
            var team = obj[i];
            if(i < obj.length - 1){
                teams += team+"、";
            }else {
                teams += team+"。";
            }
        }
        return teams;
    }

    function isSubmit() {
        if (confirm("一旦提交不可更改，确定提交？")) {
            return true;
        }else {
            return false;
        }
    }

    function getList() {
        window.location.href = "/gameList";
    }
</script>

</html>